




<div class="titre">
  <div class="titre">
<h1>Statistics</h1>
</div>
<div class="description">
  <h3>Dans cette partie vous pouvez exploiter quelque chiffre à propos le département informatique,</h3>
</div>
</div>

<div class="main-content">
<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre d'etudient</th>
      <th scope="col">Nombre d'enseignant</th>
      <th scope="col">Nombre du cadre administartif</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{nb_etudient}}</td>
      <td>{{nb_enseignant}}</td>
      <td>{{nb_cd}}</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Modules</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{nb_module}}</td>
    </tr>
  </tbody>
</table>
